__pycache__/
.vscode/
*.log
*.pyc
Wireshark/Latex/sources/main.aux
Wireshark/Latex/sources/main.lof
Wireshark/Latex/sources/main.log
Wireshark/Latex/sources/main.out
Wireshark/Latex/sources/main.synctex.gz
Wireshark/Latex/sources/main.tex.bak
Wireshark/Latex/sources/main.toc
Wireshark/Latex/sources/p1.tex.bak
Wireshark/Latex/sources/p2.tex.bak
Wireshark/Latex/sources/main.aux
Wireshark/Latex/sources/main.lof
Wireshark/Latex/sources/main.log
Wireshark/Latex/sources/main.out
Wireshark/Latex/sources/main.synctex.gz
Wireshark/Latex/sources/main.tex.bak
Wireshark/Latex/sources/main.toc
Wireshark/Latex/sources/p1.tex.bak
Wireshark/Latex/sources/cover.tex.bak
Wireshark/Latex/sources/header.tex.bak
Wireshark/Latex/sources/main.bcf
Wireshark/Latex/sources/main.lot
Wireshark/Latex/sources/main.maf
Wireshark/Latex/sources/main.mtc
Wireshark/Latex/sources/main.mtc0
Wireshark/Latex/sources/main.run.xml
Wireshark/Latex/sources/refs.bib.bak
Wireshark/Latex/sources/main.bbl
Wireshark/Latex/sources/main.blg
Wireshark/Latex/sources/p3.tex.bak
Wireshark/Latex/sources/p3.log
Wireshark/Latex/sources/p4.tex.bak
Wireshark/Latex/sources/p5.tex.bak
Wireshark/Latex/sources/p5.log
Socket-Place/report/sources/cover.tex.bak
Socket-Place/report/sources/header.tex.bak
Socket-Place/report/sources/main.aux
Socket-Place/report/sources/main.maf
Socket-Place/report/sources/main.mtc
Socket-Place/report/sources/main.mtc0
Socket-Place/report/sources/main.out
Socket-Place/report/sources/main.synctex.gz
Socket-Place/report/sources/main.tex.bak
Socket-Place/report/sources/main.bcf
Socket-Place/report/sources/main.lof
Socket-Place/report/sources/main.lot
Socket-Place/report/sources/main.toc
Socket-Place/report/sources/protocol.tex.bak
Socket-Place/report/sources/main.run.xml
Socket-Place/report/figures/instructions/client_first_gui.png
Socket-Place/report/sources/environment.tex.bak
Socket-Place/report/sources/instructions.tex.bak
Socket-Place/report/sources/jobs.tex.bak
Socket-Place/report/sources/main.bbl
Socket-Place/report/sources/main.blg
Socket-Place/report/sources/overview-description.tex.bak
Socket-Place/report/sources/refs.bib.bak
Socket-Email/TelePC/__pycache__/app_process_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/directory_tree_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/entrance_ui.cpython-310.pyc
Socket-Email/TelePC/__pycache__/live_screen_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/keylogger_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/mac_address_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/main_ui.cpython-310.pyc
Socket-Email/TelePC/__pycache__/shutdown_logout_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/app_process_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/app_process_client.cpython-37.pyc
Socket-Email/TelePC/__pycache__/app_process_server.cpython-37.pyc
Socket-Email/TelePC/__pycache__/directory_tree_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/directory_tree_client.cpython-37.pyc
Socket-Email/TelePC/__pycache__/directory_tree_server.cpython-37.pyc
Socket-Email/TelePC/__pycache__/entrance_ui.cpython-310.pyc
Socket-Email/TelePC/__pycache__/entrance_ui.cpython-37.pyc
Socket-Email/TelePC/__pycache__/keylogger_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/keylogger_client.cpython-37.pyc
Socket-Email/TelePC/__pycache__/keylogger_server.cpython-37.pyc
Socket-Email/TelePC/__pycache__/live_screen_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/live_screen_client.cpython-37.pyc
Socket-Email/TelePC/__pycache__/live_screen_server.cpython-37.pyc
Socket-Email/TelePC/__pycache__/mac_address_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/mac_address_client.cpython-37.pyc
Socket-Email/TelePC/__pycache__/mac_address_server.cpython-37.pyc
Socket-Email/TelePC/__pycache__/main_ui.cpython-310.pyc
Socket-Email/TelePC/__pycache__/main_ui.cpython-37.pyc
Socket-Email/TelePC/__pycache__/shutdown_logout_client.cpython-310.pyc
Socket-Email/TelePC/__pycache__/shutdown_logout_client.cpython-37.pyc
Socket-Email/TelePC/__pycache__/shutdown_logout_server.cpython-37.pyc
Socket-Email/server_control/video.avi
Socket-Email/documentation/latex/cover.tex.bak
Socket-Email/documentation/latex/introduction.tex.bak
Socket-Email/documentation/latex/syntax.tex.bak
Socket-Email/documentation/main.aux
Socket-Email/documentation/main.lof
Socket-Email/documentation/main.lot
Socket-Email/documentation/main.maf
Socket-Email/documentation/main.mtc
Socket-Email/documentation/main.mtc0
Socket-Email/documentation/main.out
Socket-Email/documentation/main.synctex.gz
Socket-Email/documentation/main.tex.bak
Socket-Email/documentation/main.toc
Socket-Email/documentation/latex/documentation.tex.bak
Socket-Email/documentation/latex/handle.tex.bak
Socket-Email/documentation/latex/parser.tex.bak
